@using TeamHost.Application.DTOs.Game
@code {

    [Parameter]
    public GetGameDto Game { get; set; } = null!;

}

<div>
    <div class="game-card">
        <div class="game-card__box">
            <div class="game-card__media"><a ><img src="@Game.MainImage.Name + @Game.MainImage.Extension" alt="A Total War Saga: TROY" /></a></div>
            <div class="game-card__info"><a class="game-card__title" >@Game.Name</a>
                <div class="game-card__genre">@string.Join('/', Game.Categories.Select(i => i.Name))</div>
                <div class="game-card__rating-and-price">
                    <div class="game-card__rating"><span>@Game.Rating</span><i class="ico_star"></i></div>
                    <div class="game-card__price"><span>$@Game.Price</span></div>
                </div>
                <div class="game-card__bottom">
                    <div class="game-card__platform">
                        @foreach (var platform in Game.Platforms)
                        {
                            <i class="ico_@platform.Name.ToLower()"></i>
                        }
                    </div>
                    <div class="game-card__users">
                        <ul class="users-list">
                            <li><img src="~/img/user-1.png" alt="user" /></li>
                            <li><img src="~/img/user-2.png" alt="user" /></li>
                            <li><img src="~/img/user-3.png" alt="user" /></li>
                            <li><img src="~/img/user-4.png" alt="user" /></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>